<% include ../partials/header %>


<h1>
    <%= campground.name %>
</h1>
<img src="<%= campground.image%> " alt="Image not found">
<p>
    <%= campground.description %>
    <p>Campground author: <%= campground.author.username %></p>
    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
        <button><a href="/campgrounds/<%=campground._id%>/edit">Edit</a></button>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    <% } %>
    
</p>
<br><br><br>
<p>Comments</p>
<div>
    <% campground.comments.forEach(function(comment){ %>
        <li><%= comment.author.username %> - <%= comment.text %> </li>
        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <button>
                <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
            </button>
            <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                <button>delete</button>
            </form>
        <% } %>
    <% }) %>
</div>
<p><a href="/campgrounds/<%=campground._id%>/comments/new">New Comment!</a></p>


<% include ../partials/footer %>