<% include ../partials/header %>


<h1>
    <%= campground.name %>
</h1>
<img src="<%= campground.image%> " alt="Image not found">
<p>
    <%= campground.description %>
    <p>Campground author: <%= campground.author.username %></p>
</p>
<div>
    <% campground.comments.forEach(function(comment){ %>
        <li><%= comment.author.username %> - <%= comment.text %> </li>
    <% }) %>
</div>
<p><a href="/campgrounds/<%=campground._id%>/comments/new">New Comment!</a></p>


<% include ../partials/footer %>